{% extends "base.html" %}
{% block content %}
<p class="page_title">Control Panel</p>

{% set active_tab = 'BoxItem' %}
{% include "includes/cp_tabs.html" %}

<h3>Settings</h3>

<div class="cp-nav-grid">
	<a href="/cp_categories">
		<button type="submit" class="imps icon-left list">
		Categories
		</button></a>
	<a href="/cp_locations">
		<button type="submit" class="imps icon-left loc">
		Locations
		</button></a>
	<a href="/cp_view">
		<button type="submit" class="imps icon-left columns">
		Views
		</button></a>
	<a href="/cp_password">
		<button type="submit" class="imps icon-left login">
		Password
		</button></a>
</div>
{% endblock %}
