{% extends "base.html" %}
{% block content %}
<p class="page_title">Control Panel</p>

{% set active_tab = 'Backups' %}
{% include "includes/cp_tabs.html" %}

<div>
	<h3>Back up database and photos</h3>
</div>
<div>
	<form action="/cp_backupnow" method="post" style="display:inline;">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="imps icon-left backup">
        Backup now
        </button>
        </form>
	<a href="/cp_backuprestore">
		<button type="button" class="imps icon-left restore">Restore&hellip;</button>
	</a>
</div>
{% if snapshots %}
<div class="item_display_table">
<span class="table_head">
	<span class="table_label">Date</span>
	<span class="table_label"></span>
</span>
<span class="table_body">
{% for snap in snapshots %}
	<div class="table_row">
		<div class="table_cell">{{ snap.backup_time }}</div>
		<div class="table_cell">
			<a href="{{ snap.download_url }}">
				<button type="button" class="imps icon-left download">Download</button>
			</a>
		</div>
	</div>
{% endfor %}
</span>
</div>
{% endif %}
{% endblock %}
