{% extends "base.html" %}
{% block content %}
<p class="page_title">Control Panel</p>

{% set active_tab = 'Cleanup' %}
{% include "includes/cp_tabs.html" %}

<h3>Clean up items / photos</h3>

        <div>
                <div>{% if has_orphaned_items %}<a href="/cp_orphaneditemscleanup">{% endif %}
                        <button type="submit" class="imps icon-left orphans"
                                {% if not has_orphaned_items %}disabled title="No orphaned items"{% endif %}>
                        Show orphaned items
                        </button>{% if has_orphaned_items %}</a>{% endif %}
                </div>
        </div>
        <div>
                <div>{% if has_unlinked_photos %}<a href="/cp_photofilescleanup">{% endif %}
                        <button type="submit" class="imps icon-left photo"
                                {% if not has_unlinked_photos %}disabled title="No unlinked photos"{% endif %}>
                        Show unlinked photos
                        </button>{% if has_unlinked_photos %}</a>{% endif %}
                </div>
        </div>
{% endblock %}
