{% extends "base.html" %}
{% block content %}
{% include 'includes/warning.html' %}

<!-- Page content -->

<p class="page_title">Edit location</p>
<form action="/cp_locedited/" method = "POST" name="edit_loc" onsubmit="return validateForm(event);">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div>
     <p>Location name:</p>
	     <input type="hidden" id="loc_num" name="loc_num" value="{{old_loc_num}}">
	     <input type="hidden" id="old_loc_name" name="old_loc_name" value="{{old_loc_name}}">
	     <input id="new_loc_name" type="text" name="new_loc_name" size="12" value="{{old_loc_name}}">
</div>
<div>
      <button type="submit" class="imps icon-left update">
       Change
      </button>
</div>
</form>


<script>
function validateForm() {
  let loc_name = document.forms["edit_loc"]["new_loc_name"].value;

  if (loc_name == ""){
    showValidationError("The location name<br>cannot be blank.");
    return false;
  }
}
</script>
{% endblock %}
