{% extends "base.html" %}
{% block content %}
{% include 'includes/warning.html' %}

<!-- Page content -->

{% set sub_title = "Manage locations" %}
{% set active_tab = 'BoxItem' %}
{% set tab_label = "Settings" %}
{% set back_url = "/control_panel" %}
{% include "includes/cp_tab_subheader.html" %}
<div class="container-flex">
<div class="item_display_table">
	<span class="table_head">
		<span class="table_label">Location</span>
		<span class="table_label">Boxes</span>
		<span class="table_label">Edit loc</span>
		<span class="table_label">List boxes</span>
		<span class="table_label">Delete</span>
	</span>
	<span class="table_body">
	{% set ns = namespace(counter=-1) %}
	{% for loc_name in locations %}
	{% set ns.counter = ns.counter+1 %}
	<div class="table_row" data-merge-num="{{ loc_num_lookup[loc_name] }}">
		{% if loc_name == "Unspecified" %}
		<div class="table_cell">
			{% if loc_name|length > 25 %}
			<div class="tooltip">
				{{ loc_name | truncate(25) }}
				<span class="tooltiptext">{{ loc_name }}</span>
			</div>
			{% else %}
			{{ loc_name }}
			{% endif %}
		</div>
		{% else %}
		<div class="table_cell actionable" data-batch-action="merge">
			{% if loc_name|length > 25 %}
			<div class="tooltip">
				{{ loc_name | truncate(25) }}
				<span class="tooltiptext">{{ loc_name }}</span>
			</div>
			{% else %}
			{{ loc_name }}
			{% endif %}
		</div>
		{% endif %}
		<div class="table_cell">{{loc_count[ns.counter]}}</div>
		<div class="table_cell">
			{% if loc_name=="Unspecified" %}
				<button type="submit" class="imps icon-only edit" disabled></button>
			{% else %}
				<a href="/cp_editloc/{{loc_name}}">
					<button type="submit" class="imps icon-only edit"></button>
				</a>
			{% endif%}
		</div>
		<div class="table_cell">
			{% if loc_count[ns.counter] != 0 %}
				<a href="/boxlistbyloc/{{loc_name}}"><button class="imps icon-only box_closed"></button></a>
			{% else %}
				<button class="imps icon-only box_closed" disabled></button>
			{% endif %}
		</div>
		<div class="table_cell">
			{% if loc_name=="Unspecified" %}
				<button type="submit" class="imps icon-only trash" disabled></button>
			{% else %}
				<a href="/cp_locdel/{{loc_name}}"><button type="submit" class="imps icon-only trash"></button></a>
			{% endif%}       
		</div>
	</div>
	{% endfor %}
	</span>
</div>
</div>
<div>
	<div>
                <form action="/cp_addloc" name="add_loc" id="add_loc" method="POST" onsubmit="return validateForm(event);" >
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<input type="text" name="new_loc" id="new_loc" width="14" maxlength="255" autofocus></input>
				<button type="submit" class="imps icon-left add">
					Add location
				</button>
		</form>
	</div>
</div>
<script>
function validateForm() {
  let new_cat = document.forms["add_loc"]["new_loc"].value;

  if (new_cat == ""){
    showValidationError("A location name <br>is required.");
    return false;
  }

  if (new_cat.length > 255){
    showValidationError("Location names are limited to 255 characters.");
    return false;
  }
}

</script>

<form action="/cp_locsmerge" method="post" id="mergeForm" data-field-name="loc_nums">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>

<div class="batch-action-bar" id="mergeActionBar">
	<span id="mergeCount">0 selected</span>
	<button type="button" class="imps icon-only update" id="mergeBtn" title="Merge" disabled></button>
	<button type="button" class="batch-cancel" id="mergeCancelBtn" title="Cancel">&times;</button>
</div>
{% endblock %}
