{% extends "base.html" %}
{% block content %}
{% set switch_url = "/orphan_view_switch" %}
<div class="switch">
{% include "includes/view_switch.html" %}
</div>
{% set sub_title = "Orphaned items" %}
{% set active_tab = 'Cleanup' %}
{% set tab_label = "Cleanup" %}
{% set back_url = "/cp_cleanup" %}
{% include "includes/cp_tab_subheader.html" %}
{% if item_list is defined and item_list[0] != Null %}
   {% if current_view == "mobile" %}
      {% include "includes/includeitemlist_mobile.html" %}
   {% else %}
      {% include "includes/includeitemlist.html" %}
      {% with ITEM_IMAGE_DIR=ITEM_IMAGE_DIR %}
      {% include 'includes/sort.html' %}
      {% endwith %}
   {% endif %}
{% else %}
   <p>No orphaned items exist at this time.</p>
{% endif %}
{% endblock %}
