<!DOCTYPE html>
   <head>
      <title>IMPS</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/3.2.8/tinysort.min.js" integrity="sha512-P3lisBxY1PusizpelihVrBeciBfWA9r7Ff/8j16b4K399OWJIrY1UdzdE7/BctqKv6Xujr8hp3IA2XiQX3Bsew==" crossorigin="anonymous" referrerpolicy="no-referrer">
           </script>
     <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
     <link rel="stylesheet" href="/static/imps.css">
     <script src="/static/thumbnail_zoom.js" defer></script>
     <script src="/static/modal.js" defer></script>
     <script src="/static/help_panel.js" defer></script>
     <script src="/static/multiselect_delete.js" defer></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<style>
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container div {
  padding: 20px;
  border: 1px solid black;
  margin: 10px; 
}

.div-1, .div-3 {
  flex: 1 1 0;
}

.div-2 {
   flex: 100%;
   order: 3;
}

</style>
   </head>
   <body data-help-topic="{{ help_topic }}">

<!-- context-sensitive help: top-right button + slide-in panel -->
<button type="button" id="helpButton" class="help-button" aria-label="Help" title="Help">
   <img src="/static/images/icons/help_icon.png" height="24px;">
</button>
<div id="helpOverlay" class="help-overlay"></div>
<div id="helpPanel" class="help-panel">
   <div class="help-panel-header">
      <span class="help-panel-title">IMPS Help</span>
      <button type="button" id="helpTocButton" class="help-toc-button" title="Help contents">Contents</button>
      <span id="helpPanelClose" class="help-panel-close" title="Close help">&times;</span>
   </div>
   <div class="help-panel-search">
      <input type="text" id="helpSearchBox" class="help-search-box" placeholder="Search help" autocomplete="off">
      <div id="helpSearchResults" class="help-search-results"></div>
   </div>
   <iframe id="helpFrame" class="help-panel-frame" title="Help content"></iframe>
</div>
<!-- end context-sensitive help -->

<div id="container">
       <div-1><a href="/" style="font-size: 24px; font-weight:bold">IMPS</a></div>
       <div-2><a href="/"><img src="/static/images/imp.png" height="80px;" width="120px;"></a></div> 
       <div-3><span class="header_sub">Inventory Management Photo System</span></div>
</div>
<hr>
