{% extends "base.html" %}
{% block content %}
<p class="page_title">List of boxes
	{% if show_location | length != 0  %}
		in {{show_location}}
	{% endif %}
</p>
<div>
  <a href="/boxadd">
    <button class="imps icon-left add">Add box</button>
  </a>
</div>
{% if box_list| length == 0  %}
<h3>No boxes assigned</h3>     
<p>There are no boxes assigned to this location or the location does 
not exist.</p>
<p>Use the <a href="/boxlist"><span>Box list</span></a> view to see a list of 
all boxes or the <a href="/cp_locations">list of locations</a> in the 
Control panel to veiw the available locations. </p>
{% else %}
<div class="container-flex">
	<div class="item_display_table" id="itemdisplaytable">
		<span class="table_head">
			<span class="table_label table_label-boxnum">Box #&nbsp;</span>
			<span class="table_label">Location</span>
			<span class="table_label table_label-boxname">Name</span>
                        <span class="table_label">Last change</span>
			<span class="table_label">Items</span>
		        <span class="table_label">Edit</span>
                        <span class="table_label">Label</span>
		        <span class="table_label">Delete</span>
		</span>
                <span class="table_body">
		{% for box_num, box_loc, box_name, box_date, box_last_changed in box_list %}
		<div class="table_row">
			<div class="table_cell table_cell-boxnum">
				{{ box_num }}
			</div>
			<div class="table_cell"  style="background-color: #eee;">
				{% if box_loc|length > 25 %}
				<div class="tooltip">
					{{ box_loc | truncate(25) }}
					<span class="tooltiptext">{{ box_loc }}</span>
				</div>
				{% else %}
				{{ box_loc }}
				{% endif %}
		        </div>
		        <div class="table_cell table_cell-boxname">
				{% if box_name|length > 20 %}
				<div class="tooltip">
					{{ box_name | truncate(20) }}
					<span class="tooltiptext">{{ box_name }}</span>
				</div>
				{% else %}
				{{ box_name }}
				{% endif %}
		        </div>
                        <div class="table_cell">
                                {{ box_last_changed }}
                        </div>
                        <div class="table_cell">
                                {% if box_num in not_empty_box_num_list %}
                                <a href="/boxshowcontent/{{box_num}}" style="margin-left:0px; padding-left:0px;">
                                  <button type="submit" id="content_submit_button" class="imps icon-only box_full" style="padding-left:0px;">
                                   </button>
                                </a>
                                {% else %}
                                   <button type="submit" id="content_submit_button" class="imps icon-only box" disabled>
                                   </button>
                                {% endif %}
                        </div>

        		<div class="table_cell">
				<form action="/boxedit" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				   <input type="hidden" id="box_num" name="box_num" value="{{box_num}}">
		                   <button type="submit" id="edit_submit_button" class="imps icon-only edit">
                		   </button>
			        </form>
		        </div>
                        <div class="table_cell">
                                <a href="#" 
					onclick="window.open('/boxlabel/{{box_num}}',
					'newwindow', 'width=750, height=550'); return false;">
                                        	<button class="imps icon-only qr"></button>
                                </a>
                        </div>
		        <div class="table_cell">
		               <form action="/boxdel" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                  <input type="hidden" name="box_del_from" value="/boxlist">
                                  <input type="hidden" id="box_to_del" name="box_to_del" value="{{box_num}}">
		                  <button type="submit" id="del_submit_button" class="imps icon-only trash">
	                          </button>
            		       </form>
                        </div>
		</div>
		{% endfor %}
		</span>
	</div>
{% endif %}
</div>
{% with ITEM_IMAGE_DIR=ITEM_IMAGE_DIR %}
{% include 'includes/sort.html' %}
{% endwith %}
<div> 
  <a href="/boxadd">
    <button class="imps icon-left add">Add box</button>
  </a>
</div>
{% endblock %}
