body{
  font-size: 12px;
  font-family: arial;
}
p{
  line-height: 14pt;
}
li{
  margin-bottom: 8px;
  line-height: 14pt;
}
li > ul, li > ol{
  margin-top: 8px;
}

h1, h2, h3, .help-heading {
  font-weight: bold;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}

p.note{
   background-image: url('icons/note.png');
   background-size: 20px 20px;
   background-repeat: no-repeat;
   padding-left: 30px;  /* width of the image plus a little extra padding */
   display: block;  /* may not need this, but I've found I do */
}
.help-heading {
  font-size: 24px;
}
