{% include 'header.html' %}
<style>
.a{
  border:0px;
}
</style>
<div class="mt-3">
<p class="page_title">Delete Box {{ box_to_del }} and all items? </p>
</div>
<div class="container-flex">
<div class="row mt-auto mb-2">
 <div class="warning"> </div>
<div class="col">
<p> You are about to <b>permanently</b> delete box {{box_to_del}}.</p>
<p> This box is 
 {% if box_state=="empty" %} 
    <b>empty.</b> 
 {% else %}
    <b>NOT EMPTY</b>. If you continue, all items in this box will be <b>DELETED</b>.
 {% endif %}
</p>
This cannot be undone.
</div>
</div>
</div>
<div class="row mt-4">
	<div class="col"><a href="/">
        	<form action="/deletesuccess/{{box_to_del}}">
                <button type="submit" id="submit_button" class="imps trash">
                DELETE</button>
                </form>
        </div>
</div>

