{% include 'header.html' %}
{% set ns = namespace(ocn=" ") %}
</script>
<!-- Modal dialog box html-->
<div id="myModal" class="modal">
        <div class="modal-content">
                <div class="row mt-2">
                        <div class="col">
                                <div class="warning"></div>
                        </div>
                        <div class="col col-auto mt-3 mb-3">
                                <span id="err_message"></span>
                        </div>
                        <div class="col col-auto">
                                <div>
                                        <span class="close">&times;</span>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- Page content -->
<p class="page_title">Manage Categories </p>
	<div class="row w-100 align-items-start bg-light">
		<div class="col col-1">
			<b>Cat name</b>
		</div>
                <div class="col col-1">
	                <b>Items</b>
		</div>
                <div class="col col-auto ps-4">
			<b>Edit</b>
                </div>
                <div class="col col-auto ps-4">
			<b>Delete</b>
                </div>


	</div>
	{% for category in items_per_category %}
        {% set ns.ocn = cat_name %}
	<div class="row w-100 align-items-start border-bottom border-3">
		<div class="col col-1 pt-3">
			{{category[0]}}
		</div>
		<div class="col col-1 pt-3">
			{{category[1]}}
		</div>
		<div class="col col-auto">
			<a href="/cp_editcat/{{cat_num}}">
				<button class="btn btn-rounded ico_imps edit"></button>
			</a>
		</div>
                <div class="col col-auto">
                        <a href="/cp_delcat/{{cat_num}}">
                                <button class="btn btn-rounded ico_imps ico_trash"></button>
                        </a>
                </div>


	</div>
	{% endfor %}
<div class="row mt-3">
	<div class="row">
                <form action="/cp_addcat" name="add_cat" id="add_cat" method="POST" onsubmit="return validateForm(event);" >
				<input type="text" name="new_cat" id="new_cat" width="14"></input>
				<button type="submit" class="imps add" style="width: 165px;">
					Add category
				</button>
		</form>
	</div>
</div>

<script>
// Modal dialog setup
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
  modal.style.display = "none";
}

function validateForm() {
  let new_cat = document.forms["add_cat"]["new_cat"].value;

  if (new_cat == ""){
    modal.style.display = "block";
    document.getElementById('err_message').innerHTML="A category name is required.";
    span.onclick = function() {
        modal.style.display = "none";
    }
    return false;
  }
}



</script>
{% include 'footer.html' %}
