</div>
&nbsp;
<div class="container-flex">
    <div class="row divider mt-4  w-100">&nbsp;</div>
    <div class="row mt-4">
       <div class="col col-1">
         <a href="#" onclick="window.open('/static/help/index.html',
            'newwindow', 'width=750, height=550'); return false;">
         <img src="/static/images/icons/help_icon.png" height="40"></a>
       </div>
       <div class="col col-10 align-middle">
           Created by Dan and Evelyn Hall
       </div>
       <div class="col col-1">
           <a href="control_panel">
             <img src="/static/images/icons/cp_icon.png" height="37px;">
           </a>
       </div>
   </div>
   <div class="row mb-5"></div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
</body>
</html>

