{% include 'header.html' %}
<div class="containter-flex">
<p class="page_title">IMPS Help</p>
<hr>
<ul>
<li>
	<a href="{{HELP_DIR}}config.html">Configuring IMPS</a>
</li>
<li>
        <a href="{{HELP_DIR}}working.html">Working with IMPS
</li>
<li>
        <a href="{{HELP_DIR}}boxes.html">Managing boxes
</li>
<li>
        <a href="{{HELP_DIR}}items.html">Working with items
</li>
<li>
        <a href="{{HELP_DIR}}settings.html">Settings
</li>
<li>
        <a href="{{HELP_DIR}}backup.html">Backing up your data
</li>
</ul>

{% include 'footer.html' %}
