{% include 'header.html' %}

<div class="grid">
  <div>
     <a href="/search">
        <img src="/static/images/search.png" width="75" height="75">
          <p class="main_page_link_text">Search</p>
     </a>
  </div>
  <div>
     <a href="/inventory">
        <img src="/static/images/inventory.png" width="75" height="75">
          <p class="main_page_link_text">All items</p>
     </a>
  </div>
  <div>
     <a href="/bycategory">
        <img src="/static/images/itemsbycat.png" width="75" height="75">
          <p class="main_page_link_text">By category</p>
     </a>
  </div>
  <div>
    <a href="/bybox">
        <img src="/static/images/bybox.png" width="75" height="75">
          <p class="main_page_link_text">By Box</p>
    </a>
  </div>
  <div>
    <a href="/additem">
        <img src="/static/images/additem.png" width="75" height="75">
          <p class="main_page_link_text">Add item</p>
    </a>
  </div>
  <div>
    <a href="/addbox">
        <img src="/static/images/addbox.png" width="75" height="75">
          <p class="main_page_link_text">Add box</p>
    </a>
  </div>
  <div>
    <a href="/delbox">
        <img src="/static/images/delbox.png" width="75" height="75" style="vertical-align:middle;margin:0px 20px">
          <p class="main_page_link_text">Del box</p>
    </a>
  </div>
  <div>
    <a href="/editbox">
        <img src="/static/images/renumbox.png" width="75" height="75" style="vertical-align:middle;margin:0px 20px">
          <p class="main_page_link_text">Edit box</p>
    </a>
  </div>
  <div>
    <a href="/boxlist">
        <img src="/static/images/boxes.png" width="75" height="75">
          <p class="main_page_link_text">Box list</p>
    </a>

</div>
  <div>&nbsp;</div>  
</div>
{% include 'footer.html' %}


