{% extends "base.html" %}
{% block content %}
<script>
// function to pass search term
function setSearchTerm(){
  //get the term
  query_term = document.getElementById("search_term").value;
  //if blank, load the iventory page
  if (query_term==""){
     window.open("inventory","_self");
  }
  // else load search page
  else{
     window.open("search_result/"+ query_term, "_self");
  }
}
</script>

<!-- Page content -->

<p class="page_title">Enter search term</p>
<div>
	<input id="search_term" autofocus  type="text">
</div>
<div>
	<button class="imps icon-left search" onclick="setSearchTerm()" id="search_button" default>
		Search
	</button>
</div>
{% endblock %}
